div.album-list {
    margin: 20px 50px;
    /* color: red;
    background-color: grey; */
    text-align: center;
    font-size: 11px;
}

div.album-list-photo {
    float : left;
    width: 150px;
    height: 180px;
}

div.album-detail {
    margin: 30px 10px;
}

div.album-detail-photo {
    float: left;
    width: 220px;
    height: 220px;
}

table.photo-detail {
    margin: 30px 50px 0 50px;
    border: 1px solid #ccc;
    padding: 20px 20px;
}
div.clear_float {
    color: red;
    clear: both;
}

img.thumbnail {
    border:1px solid #ccc;
}